<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head')  %>
</head>
<body>
    <%- include('./partials/nav')  %>
    <div class="container m-2">
        <h1> Create Blog </h1>
        <form action="/blog/addblog" method="post" enctype='multipart/form-data'>
            <div class="mb-3">
                <label for="title" class="form-label">Enter Blog Title</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="body" class="form-label">Enter Blog Details</label>
                <textarea class="form-control" id="body" rows="3" name="body"></textarea>
            </div>
            <div class="mb-3">
                <label for="coverImage" class="form-label">Upload Cover Image</label>
                <input type="file" class="form-control" id="coverImage" name="coverImage">
              </div>
            <button type="submit" class="btn btn-primary m-2">Create Blog</button>
        </form>
    </div>
    <%- include('./partials/scripts')  %>
</body>
</html>